* {
    margin: 0px;
    padding: 0px;
}

#header {
    background-image: url(Gym/G4.jpg);
    height: 80vh;
    background-size: cover;
    background-position: center;
    background-color: darkgray;
    background-attachment: fixed;

}

.navbar-nav li a {
    float: right;
    color: rgb(49, 224, 247) !important;
    border: 3px solid rgb(132, 136, 136);
    border-radius: 25px;
}


/* ----------------------------------WELCOME TEXT -----------------------*/
.welcome {
    padding: 50px 50px;
    margin-top: -100px;
    background-color: rgb(80, 78, 78);
    box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.3);
}

.welcome h1 {
    color: rgb(49, 224, 247) !important;
}

.welcome h4 {
    color: rgb(49, 224, 247) !important
}

.welcome .btn-outline-primary {
    margin-top: 10px;
    padding: 10px 30px;
    border-radius: 30px;
    color: #fff;
    background-color: #013;
    background-position: center;
   
}

/* ---------------------About Us---------------------------------- */
#about {
    padding-top: 30px;
    padding-bottom: 30px;
}
#about .col-md-6 
{
    padding: 10px 12px;
}
#about h2
{
    margin: 20px auto;
}
#about .embed-resposive 
{
    margin-top: 30px;

}

/* ----------------------Services------------------------------------------ */

#services
{
    background-color: rgb(220, 225, 235);
    padding-top: 50px;
    padding-bottom: 10px;
    
}
 #services .col-md-4
{
   padding: 10px;
}
#services .col-md-4 h4 
{
    padding: 5px;
}

/*------------------------Features--------------------------------------------------*/

#features
{
 margin-top: 30px;
 padding-bottom: 60px;
 background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(Gym/G1.jpg);
 background-size: cover;
 background-attachment: fixed;
 color: #fff;
}
#features .img-fluid
{
    padding-top: 80px;
    height: 450px;
}
#features .col-md-6
{
 padding: 20px;
}
.feature-box 
{
    height: 200px;
}
.feature-box .feature-left
{
    height: 120px;
    width: 20%;
    float: left;
}
.feature-box .feature-left .fa
{
    padding-top: 90px;
    font-size: 80px;
}
.feature-box .feature-right 
{
    padding-top: 50px;
    height: 80px;
    width: 80%;
    float: left;
}
.feature-box .feature-right h4
{
   padding-top: 10px;
   padding-left: 15px;
   text-align: left;
}
.feature-box .feature-right p
{
   padding-left: 15px;
   text-align: left;
}
#features .img
{
    padding-top: 30px;
    width: 80%;
    float: right;
}
/* ----------------------------Testimonials--------------------------- */
#testimonials
{
    padding-top: 100px;
    padding-bottom: 100px;
}
#testimonials col-md-4 
{
 padding: 10px 30px;
}
#testimonials img
{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-left: -30px;
    margin-top: -40px;
    border: 5px solid #fff;
    margin-bottom: 30px;
}
.review
{
    font-size: 16px;
    padding: 10px 10px 10px 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.2);
}
.review .fa-twitter
{
    color: #013f7e;
}
#testimonials span
{
    color: #013f7e;
    font-weight: 600;
    font-size: 18px;
}
#testimonials h1 
{
    margin-bottom: 10px;
    color:  #013f7e; 
}
#testimonials p
{
    padding-bottom: 20px;
}
#testimonials .middle
{
    margin-bottom: -30px;
    margin-top: -30px;
}
/* ---------------------subscribe------------------------ */
#subscribe
{
    padding: 30px 20px;
    background-color: #013f7e;
    position: relative;
    box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.2);
    margin-bottom: -100px;
}
.subscribe h3, .subscribe p
{
    color: #fff;
}
.subscribe .input-group
{
    border-radius: 30px;
    background: #fff;
    max-width: 500px;
    margin: 10px auto;
    padding: 5px;
}
.subscribe .form-control
{
      border: none;
      background: transparent;
}
.subscribe .form-control:focus
{
    box-shadow: none;
    background: transparent;
}
.subscribe .input-group-append
{
    background-image: linear-gradient(to right, #1c03b5, #5c8bef);
    border-radius: 30px;
}
.subscribe .input-group-text
{
    background: transparent;
    border: none;
    color: #fff;
}
.subscribe .btn:focus
{
   box-shadow: none;  
}

/* -----------------------Footer------------------------------ */
#Footer
{
    margin-top: 50px;
    padding: 50px;
    background-color: #efefef;
    color: #013f7e;
}
.footer-logo
{
    width: 150px;
    margin-top: 25px;
    margin-bottom: 15px;
}
#Footer h1 
{
    padding-top: 22px;
    font-size: 15px;
}
#Footer p
{
    padding-top: 20px;
    /* padding-left: 30px; */
    font-size: 12px;
    text-align: left;
}
#Footer .row .fa
{
    padding-right: 20px;
    font-size: 15px;
}
#Footer .city
{
    padding-left: 37px;
}
#Footer hr
{
    margin-top: 10px;
}
#Footer .fa-heart-o
{
    color: red;
    font-size: 17px;

}
#Footer .copyright
{
    margin-bottom: 10px;
    text-align: center;
    font-size: 15px;
}
